body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('WhatsApp Image 2024-04-01 at 23.00.17_065b3419.jpg');
    background-size: cover;
    background-position: center;
  }
  
  header {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    text-align: center;
  }
  
  main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  h1, h2, h3 {
    margin-top: 0;
  }
  
  article {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  article h3 {
    color: rgba(51, 51, 51, 0.9);
    margin-bottom: 10px;
  }
  
  article a {
    color: rgba(0, 123, 255, 0.9);
    text-decoration: none;
  }
  
  article a:hover {
    text-decoration: underline;
  }
  